
#rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80rem;
    height: 60vh;
}
.right-top-div {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    color: #fff;
}


#register-btn {
    width: 200px;
    height: 100px;
    border-radius: 60px;
    background-color: #ffc700;
    color: black;
    border-color: transparent;
    font-size: 20px;
    
}
#register-btn:hover {
    width: 204px;
    height: 104px;
    cursor: pointer;
}
.input-account {
    margin-left: 15vh;
    color: #bbb9b9;
}
.input-account input {

    width: 100%;
    height: 25px;
    padding: 6px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffc700 ;
    background-color: #282828 ;
    color: #bbb9b9;
    

}
#title {
   color: #fff; 
}
/*Desativa*/
.create-account {
    display: none;
}
#title {
    display: none;
}
#input-date{
    display: none;
}

/*Ativa displays e desativa outros*/
#general.active_register #register-btn {
    display: none;
}
#general.active_register #comeBackSide {
    display: none;
}
#general.active_register #rightSide {
    display: none;
}
#general.active_register .create-account{
    display:flex;

}
#general.active_register #input-date{
    display: block;
    padding: 14px 80px ;
    border-radius: 15px;
    border: none;
    background-color: #ffc700;
    margin-left: 21.5vh;
    margin-top: 8vh;

}
#general.active_register #title{
   display: block;
    
    
}
#general.active_register #comeback{
    display:flex;
    margin-right: 127vh ;
    background-color: transparent;
    border: transparent;
    padding-top: 20px;
    
}
