
body {
    background-color: #e7e7e7;
}
main{
	width: 80%;
	margin: 0 auto;
    
}
#page {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#banner {
    width: 60%;
    overflow: hidden;
}
#slides {
    display: flex;
}
.slide {
    
    flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	animation: slide 15s infinite ease-in-out;
	
}
@keyframes slide{
    0% {left: 0px;}
   20% {left: 0px;}
   30% {left: -100%;}
   50% {left: -100%;}
   60% {left: -200%;}
   90% {left: -200%;}
  100% {left: 0px;}
}
.slide img{width: 100%;}

#itens {
    
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    padding-left: 15px;
}
.itens-set {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    padding: 10px 30px;
    font-size: 1.2vh;

    
}
.itens-set button {
    
    margin-top: 10px ;
    padding: 5px 10px;
    background-color: #FFC700;
    color: #000;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
}

#adm {
   display: none;
}

body.teste  {
  
    position: fixed;
    
    }

