
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0f1111;
    list-style: none;
    width: 100%;
    height: 80px;
}

.header a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    padding: 17px 28px;
}
.header a:hover{
    
    border: 1px solid #fff;
}

#logo {
    width: 4.43rem;
    height: 3.125rem;
}

.search {
    width: 20%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
}

.searchTerm {
    width: 100%;
    border: 3px solid #282828;
    padding: 6px;
    height: 100%;
    outline: none;
    color: #fff;
    border-radius: 5px 0 0 5px;
    background-color: #282828;
}

.searchButton {
    width: 50px;
    height: 210%;
    border: 1px solid #ffc700;
    background: #ffc700;
    text-align: center;
    color: #000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.searchButton:hover {
    background: #c59a00;
    border: 1px solid #c59a00;
}

#cart_btn {
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #ffc700;
    color: black;
}

#nav_down {
    display: flex;
    padding: 17px;
    justify-content: space-around;
    background-color: #1b1f1f;
    align-items: center;
}
#nav_down li{
    list-style: none;
}
#nav_down  a {
    text-decoration: none;
    color: #fff;
    padding: 18px 18px;
    
}
#nav_down a:hover {
    border: 1px solid #fff;
}
#options_btn {
    padding: 2px;
    border: 0;
    background-color: transparent;
    
}
#options_btn div{

    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    
}
#options_btn:hover {
   
    border: 1px solid #fff;
    
}
